.Notifications {
  border: 2px dashed red;
  padding: 1em;
  position: absolute;
  top: 10px;
  width: 95vw;
}

li[data-priority="default"] {
  color: blue;
}

li[data-priority="urgent"] {
  color: red;
}